<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>111111 </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body class="hold-transition skin-purple sidebar-mini   ">

<v-app id="app" :data="data">

    <v-box title="图标选择器">
        <v-form>
            <v-form-item >
                <v-form-item label="图标" inline="true" >
                    <v-icon-selector ref="a1" v-model="bind_value1"></v-icon-selector>
                </v-form-item>
                <v-form-item label="图标" inline="true" >
                    <v-icon-selector ref="a2" value="fa fa-refresh"></v-icon-selector>
                </v-form-item>
                <v-form-item label="图标" inline="true" >
                    <v-icon-selector ref="a3" v-model="bind_value2"></v-icon-selector>
                </v-form-item>
            </v-form-item>
        </v-form>
        <br>
        <v-row>
            <v-col>
                <v-button @click="set_value">set_value</v-button>
                <v-button @click="reset">reset</v-button>
                <v-button @click="queryValues">get_value</v-button>
                <br>
                <br>
                bind_value1: {{bind_value1}}<br>
                bind_value2: {{bind_value2}}<br>
                all_values:  {{all_values}}<br>
            </v-col>
        </v-row>
    </v-box>

</v-app>

<script src="/lib/lib.js"></script>
<script>
    app.main({

        methods : {

        } ,
        mounted : function () {}
    })
</script>
</body>
</html>