<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ATL - Modal </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link href="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini">


    <v-app :data="data" >

        <v-form>
                <div v-for="menu in menus">
                    <v-col :class="'col-md-6'">
                        <v-box title="主菜单">
                                <v-form-item span="11" label="菜单URL:">
                                <input   class="form-control" v-model="menu.url" >
                                </v-form-item >

                                <v-form-item span="11" label="菜单名称:">
                                    <input  class="form-control" v-model="menu.desc" >
                                </v-form-item >

                                <v-form-item span="11" label="菜单icon:">
                                    <input   class="form-control" v-model="menu.icon" >
                                </v-form-item >

                                <v-form-item span="11" label="菜单order:">
                                    <input   class="form-control" v-model="menu.order" >
                                </v-form-item >

                        </v-box>
                    </v-col>

                    <div v-for="kidMenu in menu.children">
                        <v-col :class="'col-md-6'">
                            <v-box title="子菜单">
                                    <v-form-item span="11" label="子菜单URL:">
                                        <input   class="form-control" v-model="kidMenu.url" >
                                    </v-form-item >

                                    <v-form-item span="11" label="子菜单名称:">
                                        <input  class="form-control" v-model="kidMenu.desc" >
                                    </v-form-item >

                                    <v-form-item span="11" label="子菜单icon:">
                                        <input   class="form-control" v-model="kidMenu.icon" >
                                    </v-form-item >

                                    <v-form-item span="11" label="子菜单order:">
                                        <input   class="form-control" v-model="kidMenu.order" >
                                     </v-form-item >

                            </v-box>
                        </v-col>
                    </div>
                </div>
            <v-col class="col-md-6" >
                <button type="button" @click="saveMenus" class="btn btn-primary" >
                    保存修改
                </button>
            </v-col>
        </v-form>
                <!--<v-col class="col-md-6" >-->
                    <!--<button type="button" @click="addMenu" class="btn btn-success" >-->
                        <!--添加菜单-->
                    <!--</button>-->
                <!--</v-col>-->
                <!--<v-col class="col-md-6" >-->
                    <!--<button type="button" @click="addKidMenu" class="btn btn-info" >-->
                        <!--添加子菜单-->
                    <!--</button>-->
                <!--</v-col>-->

    </v-app>


</body>
<script src="/lib/lib.js"></script>
<script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
<script>

    app.main({
        data : function () {
            return {
                menus:Object

            }
        } ,
        methods : {
            saveMenus:function(){
                var a,i,inputFlag=1;

                a= document.forms[0];
                // for (i=0;i<a.length;i++){
                //     if(i===0 || i===3 || i===4 || i===5 ){
                //         var index1=a[i]._value.lastIndexOf(".");
                //         var index2=a[i]._value.length;
                //         var suffix=a[i]._value.substring(index1+1,index2);//后缀名
                //         if(suffix !== "html") {
                //             inputFlag= 0;
                //             break;
                //         }
                //     }
                // }
                // if(inputFlag){
                //     axios.post("/admin/app_info/update",this._data).then(function(response){
                //         $("#tip").text(response.data.msg)
                //         $("#alert-message").modal('toggle')
                //     })
                // }
            },
            addMenu: function () {
                var a = 1;
            },
            addKidMenu:function () {
                var a = 1;
            }




        } ,
        mounted : function ($vm) {
            var self = $vm;
            axios.get("/get_menu_data").then(function (response) {
                self.menus = response.data;

            })
        }
    });

</script>

</html>