<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ATL - Modal </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<v-app :data="data" >
    <!-- /.content-wrapper -->
    <v-box title="Modal">
        <v-form id="main">
            <v-form-item span="9" label="IndexUrl:">
                <input id="indexUrl" type="text" class="form-control" value="indexUrl" v-model="indexUrl">
                <span>{{indexUrl}}</span>
            </v-form-item>

            <v-form-item span="9" label="AppName:">
                <input id="appName" class="form-control" v-model="appName" >
            </v-form-item >

            <v-form-item span="9" label="UserName:">
                <input id="userName" class="form-control"  v-model="userName" >
            </v-form-item >

            <v-form-item span="9" label="UserImgUrl:">
                <input  id="userImgUrl"class="form-control" v-model="userImgUrl" >
            </v-form-item >

            <v-form-item span="9" label="ProfileUrl:">
                <input id="profileUrl" class="form-control" v-model="profileUrl" >
            </v-form-item >

            <v-form-item span="9" label="SignOutUrl:">
                <input id="signOutUrl" class="form-control" v-model="signOutUrl" >
            </v-form-item >

            <v-form-item span="9" label="LogoName:">
                <input id="logoName" class="form-control" v-model="logoName" >
            </v-form-item >

            <v-form-item span="9" label="LogoShortName:">
                <v-input  id="logoShortName" class="form-control" v-model="logoShortName" ></v-input>
            </v-form-item >



            <v-form-item span="9" >
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" >保存修改</button>
                </div>
            </v-form-item >
        </v-form>
    </v-box>





</v-app>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="/lib/lib.js"></script>
<script>
    app.main({

        data : function () {
            return {
                indexUrl:"",
                appName:"",
                userName:"",
                userImgUrl:"",
                profileUrl:"",
                signOutUrl:"",
                logoName:"",
                logoShortName:""
            }
        } ,
        methods : {
        } ,
        mounted : function ($vm) {
            var self = $vm;
            $.ajax({
                type:"get",
                dataType: "json",
                url:"/get_app_data",
                success: function (reponse) {
                    self.indexUrl = reponse.indexUrl;
                    self.appName = reponse.appName;
                    self.userName = reponse.userName;
                    self.userImgUrl = reponse.userImgUrl;
                    self.pofileUrl = reponse.pofileUrl;
                    self.signOutUrl = reponse.signOutUrl;
                    self.logoName = reponse.logoName;
                    self.logoShortName = reponse.logoShortName;
                }
            })
        }
    });

</script>
</body>
</html>