<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ATL - Box </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

</head>

<body>
<v-app :data="data" >
    <!-- /.content-wrapper -->
    <v-box title="查询条件">

        <p>{{query['name']}} -- {{query['age']}}</p>


        <v-form>
            <v-row>
                <v-form-item span="4" label="Name:">
                    <input type="text" class="form-control" placeholder="Enter ..." v-model="query['name']">
                </v-form-item>

                <v-form-item span="4" label="Age:">
                    <v-input  v-model="query['age']" placeholder="Enter Age" ></v-input>
                </v-form-item >
            </v-row>
        </v-form>




        <button @click="re_query"> 查询</button>

        <v-table :ajax_url="ajax_url" :query="query" :send_req="send_req" :operations="operations" ></v-table>

    </v-box>
    <div class="row">
        <div class="col-md-6">
            <v-box :title="'Table - 简单实例'">

                <v-table :data="table_data"></v-table>
                <hr/>
                <p>引入v-table , ajax_url 绑定异步请求地址url</p>
                <pre id="code1">&lt;v-table :ajax_url=&quot;ajax_url1&quot;&gt;&lt;/v-table&gt;</pre>
                <p>数据 </p>
                <pre>app.main({
                data:function() {
                    return {
                       ajax_url1 : '/get_table_data'
                    }
                }
            })</pre>
            </v-box>
        </div>
        <div class="col-md-6">
            <v-box title="异步表格">

                <v-table :ajax_url="ajax_url1"></v-table>
                <hr/>
                <p>step 1 . 引入v-table , ajax_url 绑定异步请求地址url</p>
                <pre >&lt;v-table :ajax_url=&quot;ajax_url1&quot;&gt;&lt;/v-table&gt;</pre>
                <p>step 2 . 编写app.main, 提供ajax_url </p>
                <pre>app.main({
                data:function() {
                    return {
                       ajax_url1 : '/get_table_data'
                    }
                }
            })</pre>
            </v-box>
        </div>
    </div>




</v-app>
<script src="/lib/lib.js"></script>
<script>
    app.main({
        
        data : function () {
            return {
                table_data : {
                    columns : [{key: "key", label: "属性名称"}, {key: "desc", label: "描述"}] ,
                    dataItems :[{key:"data" , desc:"描述"}]
                } ,
                name : '' ,
                query : {} ,
                ajax_url : '/get_table_data' ,
                ajax_url1 : '/get_table_data' ,
                send_req : 0 ,
                operations : [
                    {
                        name : '详情' ,
                        scheme: 'green',
                        icon:'edit',
                        method : function(row , $table) {
                            console.log(row);
                            $table.fetchData();
                            window.location.href ="http://www.baidu.com"
                        }
                    } ,
                    {
                        name : '删除'  ,
                        scheme: 'blue',
                        icon:'trash',
                        method : function(row ,$table) {

                        }
                    }
                ]
            }
        } ,
        methods : {
            re_query : function () {
                this.send_req++
            }
        }
    })
</script>
</body>
</html>